@font-face {
    font-family: 'simpletix';
    src: url('./font/simpletix/simpletix.otf');
    font-family: 'BOOKMARK';
    src: url('./font/BOOKMARK/BOOKMARK.otf');
    font-family: 'garamond';
    src: url('./font/garamond/AppleGaramond.ttf');
}

* {
    font-family: 'garamond';
    color: #FFFACD;

    h1 {
        font-size: 4.5em;
    }

    h2,
    h3 {
        font-size: 3rem;
        margin: 0;
        font-family: 'simpletix' !important;
    }

    p {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    .gras {
        font-weight: bolder;
        color: #FF6347;
    }
}

body {
    margin: 0;
    // background-color: #23272A;
    background-color: #F1F1F1;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

header {
    margin-top: 2em;
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;

    img,
    div {
        margin: 0 2em;
    }

    @keyframes turnaround {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .mascot_container {
        :hover {
            animation: turnaround 1s linear infinite;
        }

        order: 2;

        .mascot {
            width: 150px;
        }
    }


    .title_and_description {

        h1,
        p {
            color: #201D19 !important;
        }

        order: 1;
        margin-right: 10%;
        grid-column: 1/6;
    }
}

footer {
    background-color: #201D19;
    width: 100%;
    height: 20vh;
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    div {
        width: 100%;

        h4 {
            text-align: center;
        }

        p {
            font-size: small !important;
        }
    }
}

.mascot_container {
    img {
        background-color: rgba(255, 255, 255, 0.327);
        border-radius: 50%;
    }
}

@mixin sections {
    grid-column: 1/7;
    margin: 4em 1em 0 1em;
    padding: 1em;
    background-color: #201D19;
    color: #A4906E !important;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    h1,h2,h3,h4{
        margin-left: 0.3em;
    }
    .zoomer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        width: 100% !important;
        border-radius: 15px;
    }
}

.first_section {
    margin: 8em 1em 0 1em !important;
    @include sections();

    .text_in_section {
        grid-column: 2/6
    }
}

.second_section {
    @include sections();

    .text_in_section {
        grid-column: 1/5;
    }

    p {
        margin-top: 1.5em;
    }
}

.third_section {
    margin: 8em 1em 0 1em !important;
    @include sections();

    .text_in_section {
        grid-column: 2/6;
    }
}

.zoomer {
    overflow: hidden;
    border-radius: 5px;

    &:hover {
        img {
            transition: ease-in-out 0.5s;
            transform: scale(2);
            filter: blur(3px);
        }
    }
}

// mobile only
@mixin header_format {
    header {
        flex-wrap: wrap;

        .title_and_description {
            order: 2;
            text-align: center;
            margin: 0;
        }

        .mascot_container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

@mixin titles_format {

    h1,
    h2,
    h3 {
        text-align: center;
    }
}

@mixin mobile {

}

@mixin tablet {}

@mixin responsive {
    @include header_format();
    @include titles_format();

    .responsive_section {
        grid-column: 1/7 !important;
        margin: 8em 1em 0 1em !important;
    }
}

@media only screen and (max-width : 750px) {
    @include responsive();
    @include mobile();

    .head_paint,
    .eyes {
        display: none;
    }
    .zoomer {
        img{
            display: none;
        }
    }
    .text_in_section{
        grid-column: 1/7 !important;
    }
}

@media only screen and (max-width : 1200px) {
    @include responsive();
    @include tablet();
    @include mobile();
}